@model EventFlow.Models.Endereco

@using EventFlow.Utils

<h4>Endereço</h4>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CEP)
    </dt>
    <dd class="col-sm-10">
        @($"{StringFormatter.FormatarCEP(Model.CEP)}")
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Logradouro)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Logradouro)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Numero)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Numero)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Complemento)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Complemento)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Bairro)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Bairro)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Localidade)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Localidade)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UF)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.UF)
    </dd>
</dl>