@model IEnumerable<EventFlow.Models.Evento>

@{
    ViewData["Title"] = "Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="page-title mb-0 mt-3">Eventos</h1>
</div>

<div class="table-container">
    <a asp-action="Create" class="btn-create">Criar Novo Evento</a>
    <table class="styled-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantidadeParticipantes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrevisaoClimatica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organizador)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Data.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@item.QuantidadeParticipantes</td>
                    <td>@item.Preco.ToString("C")</td>
                    <td>@item.PrevisaoClimatica</td>
                    <td>@($"{item.Organizador.Nome} - {item.Organizador.Email}")</td>
                    <td class="action-cell">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="action-link edit-link">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="action-link details-link">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="action-link delete-link">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
